<div class="row align-items-center mb-4">
  <div class="col">
    <h1><%= @place["name"] %></h1>
  </div>
</div>

<div class="mb-4">
  <% if @current_user != nil %>
    <a href="/entries/new?place_id=<%= @place["id"] %>" class = "btn btn-primary">New Entry</a>
  <% end %>
</div>

<div class="row">
  <% if @current_user != nil %>
    <% if @entries.empty? %>
      <div class="col-12">
        <div class="alert alert-primary">
          No entries yet. Start by clicking "New Entry"!
        </div>
      </div>
    <% else %>
      <% for entry in @entries %>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card h-100 shadow-sm">

            <div class="card-body d-flex flex-column p-4">
                <h5 class="card-title fw-bold text-black"><%= entry["title"] %></h5>
              <h6 class="card-subtitle mb-3 text-muted small"><%= entry["occurred_on"]&.strftime("%B %d, %Y") %></h6>
         
              <% if entry.uploaded_image.attached? %>
                <div class="mb-2" style="height: 300px;">
                 <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid rounded shadow-sm w-100 h-100" style="object-fit: cover;">
                </div>
              <% else %>
                <div class="mb-2 bg-light rounded d-flex align-items-center justify-content-center text-muted small" style="height: 300px;">
                  No image provided!
                </div>
              <% end %>

              <p class="card-text text-secondary"><%= entry["description"] %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="col-12">
      <div class="alert alert-primary">
        Please login first.
      </div>
    </div>
  <% end %>
</div>